
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:darkturquoise;font-size:45px;">
        <b>Multi Medics Clinic</b>
    </div>
    <div>
        <p style="font-size:15px;">
            Hi Sir/Madam
            Your appointment bookin details are as follows:
        </p>
    </div>
</body>
</html>
