
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Multi-Med</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Slick Carousel -->
    <link rel="stylesheet" href="/medic/plugins/slick/slick.css">
    <link rel="stylesheet" href="/medic/plugins/slick/slick-theme.css">
    <!-- FancyBox -->
    <link rel="stylesheet" href="/medic/plugins/fancybox/jquery.fancybox.min.css">

    <!-- Stylesheets -->
    <link href="/medic/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/medic/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/medic/images/favicon.ico" type="image/x-icon">


    <!--Timepicker-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-sliderAccess.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.js"></script>
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <!-- <div class="preloader"></div> -->
        <!-- Preloader -->
        <!--header top-->
        <div class="header-top">
            <div class="container clearfix">
                <div class="top-left">
                    <h6>Opening Hours : Saturday to Tuesday - 8am to 10pm</h6>
                </div>

                <div class="top-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!--header top-->
        <!--Header Upper-->
        <section class="header-uper">
            <div class="container clearfix">
                <div class="logo">
                    <figure>
                        <a href="index.html">
                            <img src="~/Images/logo.png" alt="" width="250">
                        </a>
                    </figure>
                </div>
                <div class="right-side">
                    <ul class="contact-info">
                        <li class="item">
                            <div class="icon-box">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <strong>Email</strong>
                            <br>
                            <a href="#">
                                <span>info@medic.com</span>
                            </a>
                        </li>
                        <li class="item">
                            <div class="icon-box">
                                <i class="fa fa-phone"></i>
                            </div>
                            <strong>Call Now</strong>
                            <br>
                            <span>+ (88017) - 123 - 4567</span>
                        </li>
                    </ul>
                    @*<div class="link-btn">
                            <a href="/Bookings/Create" class="btn-style-one">Appoinment</a>
                        </div>*@
                </div>
            </div>
        </section>
        <!--Header Upper-->
        <!--Main Header-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:120px">
                    <ul class="nav navbar-nav">
                        @*<li class="active">
                                <a href="index.html">Home</a>
                            </li>*@
                        <li>
                            <a href="/PatientRecords/Create">Register Patient</a>
                        </li>
                        <li>
                            <a href="/Bookings/Index">Appointment</a>
                        </li>
                        <li>
                            <a href="/Invoice/Index">Invoices</a>
                        </li>
                        <li>
                            <a href="medic/gallery.html">Gallery</a>
                        </li>
                        <li>
                            <a href="medic/team.html">Team</a>
                        </li>
                        <li>
                            <a href="medic/blog.html">Services</a>
                        </li>
                        <li>
                            <a href="contact.html">About</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <!--End Main Header -->
        <!--Page Title-->
        <section class="page-title text-center" style="background-image:url(/medic/images/background/3.jpg);">
            <div class="container">
                <div class="title-text">
                    <h1>Clinic Patients</h1>

                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!-- Contact Section -->

        <ul class="nav nav-tabs">
            <li><a data-toggle="tab" href="#firstTab">Patients List</a></li>
            <li class="active"><a data-toggle="tab" href="#secondTab">Register Patient</a></li>
            <li><a data-toggle="tab" href="#thirdTab">Registration</a></li>
        </ul>
        <div class="tab-content">
            <div id="firstTab" class="tab-pane fade in">@Html.Action("ViewAll")</div>
            <div id="secondTab" class="tab-pane fade in active">@Html.Action("Create")</div>
            <div id="thirdTab" class="tab-pane fade in">@Html.Action("Registration")</div>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="contact-area style-two">

                    </div>

                </div>
            </div>

            <!-- End Contact Section -->
            <!--team section-->
            <section class="team-section section">
                <div class="container">
                    <div class="section-title text-center">
                        <h3>
                            Our Expert
                            <span>Doctors</span>
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem illo, rerum
                            <br>natus nobis deleniti doloremque minima odit voluptatibus ipsam animi?
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img src="~/Images/mabaso.jpg" alt="doctor" class="img-responsive">
                                <div class="contents text-center">
                                    <h4>Dr. MN Mabaso</h4>
                                    <p>General Practictioner</p>
                                    <a href="#" class="btn btn-main">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img src="~/Images/mbali.jpg" alt="doctor" class="img-responsive">
                                <div class="contents text-center">
                                    <h4>Dr. Marry Lou</h4>
                                    <p>Surgen</p>
                                    <a href="#" class="btn btn-main">read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="team-member">
                                <img src="~/Images/doc.jpg" alt="doctor" class="img-responsive">
                                <div class="contents text-center">
                                    <h4>Dr. Sansa Stark</h4>
                                    <p>Dematologist</p>
                                    <a href="#" class="btn btn-main">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--End team section-->
            <!--footer-main-->
            <footer class="footer-main">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="about-widget">
                                    <div class="footer-logo">
                                        <figure>
                                            <a href="index.html">
                                                <img src="/medic/images/logo-2.png" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, temporibus?</p>
                                    <ul class="location-link">
                                        <li class="item">
                                            <i class="fa fa-map-marker"></i>
                                            <p>Modamba, NY 80021, United States</p>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                            <a href="#">
                                                <p>Support@medic.com</p>
                                            </a>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <p>(88017) +123 4567</p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <h6>Services</h6>
                                <ul class="menu-link">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Orthopadic Liabilities
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Dental Clinic
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Dormamu Clinic
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Psycological Clinic
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>Gynaecological Clinic
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="social-links">
                                    <h6>Recent Posts</h6>
                                    <ul>
                                        <li class="item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="/medic/images/blog/post-thumb-small.jpg" alt="post-thumb">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">Post Title</a></h4>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="item">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" src="/medic/images/blog/post-thumb-small.jpg" alt="post-thumb">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading">
                                                        <a href="#">Post Title</a>
                                                    </h4>
                                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container clearfix">
                        <div class="copyright-text">
                            <p>
                                &copy; Copyright 2019. All Rights Reserved by
                                <a href="index.html">Multi-Med & The Creatives</a>
                            </p>
                        </div>
                        <ul class="footer-bottom-link">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!--End footer-main-->
        </div>
        <!--End pagewrapper-->
        <!--Scroll to top-->
        <div class="scroll-to-top scroll-to-target" data-target=".header-top">
            <span class="icon fa fa-angle-up"></span>
        </div>
        <script src="/medic/plugins/jquery.js"></script>
        <script src="/medic/plugins/bootstrap.min.js"></script>
        <script src="/medic/plugins/bootstrap-select.min.js"></script>
        <!-- Slick Slider -->
        <script src="/medic/plugins/slick/slick.min.js"></script>
        <!-- FancyBox -->
        <script src="/medic/plugins/fancybox/jquery.fancybox.min.js"></script>
        <!-- Google Map -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
        <script src="/medic/plugins/google-map/gmap.js"></script>
        <script src="/medic/plugins/validate.js"></script>
        <script src="/medic/plugins/wow.js"></script>
        <script src="/medic/plugins/jquery-ui.js"></script>
        <script src="/medic/plugins/timePicker.js"></script>
        <script src="/medic/js/script.js"></script>

    </div>
</body>
</html>

